<% provide(:title, "Contact") %>
<h1>Contact Me!</h1>
<p>
	<!-- picture here -->
	This website was made by Scott McKell as part of <a href="https://www.theodinproject.com"> The Odin Project,</a> you can find his github <a href="https://github.com/zottwickel">here!</a>
	<br>
	Much of the functionality has been reverse-engineered from <a href="http://www.railstutorial.org">the Rails Tutorial</a> by Michael Hartl.
</p>