<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	This web site is created as an example of how associations work in ruby on rails. Users can create events and attend events wheras, events have a creator user and attending users. The website stores only information you put in, therefore if you don't want anything private about you seen, please use psudonyms, fake locations, and made up events to test the system.
	<br>
	Don't get attached to any posted information, as it is subject to deletion at any point for any reason.
</p>