<div class="jumbotron">
	<h1>Private Events</h1>
	<p>
		Welcome to Private Events, the web app where you can make events and people can join the events! All you need to do to sign up is put in a fake name and a fake email (this site will never email you anything ever, but spammers can see anything, so post a fake one.)
	</p>
</div>