
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to private events!, <%= @user.name %></h1>
    <p>
      You have successfully signed up to private events,
      your username is: <%= @user.name %>.<br>
    </p>
    <p>As you can see, this represents an email, but is actually a webpage with what you would see if it were a "real" email.</p>
  </body>
</html>